# CredNexus Environment Configuration
NEXT_PUBLIC_APP_NAME=CredNexus
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=crednexus-secure-dev-secret-key-sih2026
NEXT_PUBLIC_MAP_DEFAULT_LAT=20.5937
NEXT_PUBLIC_MAP_DEFAULT_LNG=78.9629
NEXT_PUBLIC_DEFAULT_LOCALE=en
